{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Location Map</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
        crossorigin=""/>

        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
        crossorigin=""></script>
        
    </head>
    <body>

        {% if queryset %}
        <ul>
            {% for trip in queryset %}
                <li>{{ trip.start_time }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No maps are available.</p>
        {% endif %}
        <div id="map"></div>
        <script src="{% static 'map.js' %}"></script>
    </body>
</html>